.login-container {
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 50px;
    background-color: #C0392B;
}

.logo {
    width: 50%;
    max-width: 200px;
    margin: 40px auto 0 auto;
    display: block;
}

.input-area {
    position: absolute;
    height: 50%;
    bottom: 0;
    left: 20px;
    right: 20px;
    color: white;
}

input {
    font-weight: bold;
    font-size: 20px;
    height: 40px !important;
}