.login-container {
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 50px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
    background-color: #C0392B;
}

.input-area {
    position: absolute;
    height: 50%;
    bottom: 0;
    left: 20px;
    right: 20px;
    color: white;
}

input {
    font-weight: bold;
    font-size: 20px;
    height: 40px !important;
}