<div class="page-overlay" [@plateState]="animationState">
  <div class="plate-form">

    <h3>{{currentMenu.name}}</h3>
    <h4>Rp. {{getPrice() | number}}.00</h4>
    <div class="form-group" *ngIf="isAskSambal">
      <label>Pilih Sambal :</label>
      <select class="form-control" [(ngModel)]="currentPlate.sambal">
        <option *ngFor="let s of currentMenu.sambal"
          [value]="s">
          {{s}}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="isAskSambal">
      <label>Level :</label><br />
      <div class="btn-group btn-group-justified">
        <a class="btn btn-primary ripple" (click)="onChiliDown()">-</a>
        <a class="btn btn-default">
          <strong>{{currentPlate.chili}}</strong>
        </a>
        <a class="btn btn-primary ripple" (click)="onChiliUp()">+</a>
      </div>
    </div>

    <div class="form-group" *ngIf="isAskTopping">
      <label>Tambah Topping :</label><br />
      <ul class="list-group">
        <li class="list-group-item ripple"
          (click)="onToggleTopping(m)"
          *ngFor="let m of menuService.getMenu(2); let i=index"
          [ngClass]="{'list-group-item-success' : this.isToppingAdded(m)}">
          {{m.name}}
        </li>
      </ul>
    </div>

    <app-error-panel [active]="isError" [message]="errorMessage"></app-error-panel>

    <div class="action-button">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn btn-danger btn-lg ripple"
          (click)="onClickCancel()">
            KEMBALI
          </button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-lg ripple"
            (click)="onClickOrder(currentPlate)">
            SIMPAN
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
