<div class="card-box" *ngFor="let order of orderService.collections">
  <div class="dropdown">
    <span class="glyphicon glyphicon-option-horizontal close" data-toggle="dropdown"></span>
    <ul class="dropdown-menu dropdown-menu-right">
      <li (click)="onViewOrder(order)"><a>View Detail</a></li>
      <li (click)="onCancelOrderStart(order)"><a>Cancel Order</a></li>
    </ul>
  </div>
  <table>
    <tr>
      <td class="order-label"><strong>ID</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{order.id}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Nama Penerima</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{order.recName}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Alamat Pengiriman</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{order.recAddress}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Nomor Telepon</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{order.recPhone}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Banyaknya Item</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{order.list.length}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Harga</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{order.price}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Status</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{getStatus(order.status, order.createdAt)}}</td>
    </tr>
  </table>
</div>

<app-loading *ngIf="isLoading()"></app-loading>

<div class="card-box" *ngIf="isHistoryEmpty()">
  <i>Anda tidak memiliki histori pesanan. Silakan melakukan pesanan</i>
</div>

<app-dialog *ngIf="isViewDialogShow" [(onCancel)]="onCloseDialog" title="Detail Pesanan">
  <div *ngFor="let p of orderService.current.list">
    <table>
      <tr>
        <td class="plate-label"><strong>Menu</strong></td>
        <td><strong>:</strong></td>
        <td class="order-value">{{menuService.getOne(p.menuId).name}}</td>
      </tr>
      <tr *ngIf="p.sambal !== ''">
        <td class="plate-label"><strong>Sambal</strong></td>
        <td><strong>:</strong></td>
        <td class="order-value">{{p.sambal}}</td>
      </tr>
      <tr *ngIf="p.sambal !== ''">
        <td class="plate-label"><strong>Level</strong></td>
        <td><strong>:</strong></td>
        <td class="order-value">{{p.chili}}</td>
      </tr>
      <tr *ngIf="p.toppingId && p.toppingId.length !== 0">
        <td class="plate-label"><strong>Topping</strong></td>
        <td><strong>:</strong></td>
        <td class="order-value">
          <span class="topping" *ngFor="let t of p.toppingId">
            {{menuService.getOne(t).name}}
          </span>
        </td>
      </tr>
      <tr>
        <td class="plate-label"><strong>Harga</strong></td>
        <td><strong>:</strong></td>
        <td class="order-value"><strong>{{p.price}}</strong></td>
      </tr>
    </table>
    <br />
  </div>
</app-dialog>

<app-dialog *ngIf="isCancelDialogShow" [(onCancel)]="onCloseDialog" title="Batalkan Pesanan">
  <h5>Apakah anda yakin?</h5>
  <button type="button" class="btn btn-danger pull-right"
    (click)="onCancelOrder()">Batalkan</button>
  <button type="button" class="btn btn-default pull-right"
    (click)="onCloseDialog()">Kembali</button>
</app-dialog>