<div class="history-card" *ngFor="let order of orderService.collections">

  <div class="dropdown">
    <span class="glyphicon glyphicon-option-horizontal close" data-toggle="dropdown"></span>
    <ul class="dropdown-menu dropdown-menu-right">
      <li (click)="onViewOrder(order)"><a>View Detail</a></li>
      <li (click)="onCancelOrder(order)"><a>Cancel Order</a></li>
    </ul>
  </div>

  <strong>ID : </strong>{{order.id}}<br/>
  <strong>Nama Penerima : </strong>{{order.recName}}<br/>
  <strong>Lokasi Pengiriman : </strong>{{order.recAddress}}<br/>
  <strong>Nomor Telepon Penerima : </strong>{{order.recPhone}}<br/>
  <strong>Total Item : </strong>{{order.list.length}}<br/>
  <strong>Status : </strong>{{order.status}}<br/>
  <strong>Harga : </strong>{{order.price}}<br/>
</div>

<app-loading *ngIf="orderService.isLoading"></app-loading>

<div class="history-card" *ngIf="isHistoryEmpty()">
  <i>Anda tidak memiliki histori pesanan. Silakan melakukan pesanan</i>
</div>

<app-dialog *ngIf="isViewDialogShow" [(onCancel)]="onCloseDialog" title="Detail Pesanan">
  <pre>{{JSON.stringify(orderService.current, null, 3)}}</pre>
</app-dialog>