button {
    margin-left: 5px;
}

.order-label {
    width : 150px;
}

.order-value {
    padding-left : 5px;
}

.plate-label {
    width : 100px;
}

.topping {
    padding: 5px 5px 2px 5px;
    margin: 2px 3px 2px 0;
    border-radius : 5px;
    background-color: #eee;
    display: inline-block;
}