<app-table
  [collections]="getOrderCollections()"
  [model]="table"
  [loading]="orderService.isLoading || menuService.isLoading"
  [rowAction]="rowAction"
  [(onRowAction)]="onRowAction"
  [(onRefresh)]="onRefreshTable"
  [(onActionIncluded)]="onActionIncluded"
></app-table>

<app-dialog *ngIf="isViewDialogShow" [(onCancel)]="onCloseDialog" title="Detail Pesanan">
  <h5>DATA PEMESAN</h5>
  <table class="costumer-data">
    <tr>
      <td class="order-label"><strong>ID</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{orderService.current.id}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Nama Penerima</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{orderService.current.recName}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Alamat Pengiriman</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{orderService.current.recAddress}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Nomor Telepon</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{orderService.current.recPhone}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Banyaknya Item</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{orderService.current.list.length}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Waktu Pemesanan</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{getDate(orderService.current.createdAt)}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Harga</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{orderService.current.price}}</td>
    </tr>
    <tr>
      <td class="order-label"><strong>Status</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{getStatusString(orderService.current)}}</td>
    </tr>
  </table>

  <hr/>
  <h5>DATA PESANAN</h5>
  <div *ngFor="let p of orderService.current.list">
    <table>
      <tr>
        <td class="plate-label"><strong>Menu</strong></td>
        <td><strong>:</strong></td>
        <td class="order-value">{{menuService.getOne(p.menuId).name}}</td>
      </tr>
      <tr *ngIf="p.sambal !== ''">
        <td class="plate-label"><strong>Sambal</strong></td>
        <td><strong>:</strong></td>
        <td class="order-value">{{p.sambal}}</td>
      </tr>
      <tr *ngIf="p.sambal !== ''">
        <td class="plate-label"><strong>Level</strong></td>
        <td><strong>:</strong></td>
        <td class="order-value">{{p.chili}}</td>
      </tr>
      <tr *ngIf="p.toppingId && p.toppingId.length !== 0">
        <td class="plate-label"><strong>Topping</strong></td>
        <td><strong>:</strong></td>
        <td class="order-value">
          <span class="topping" *ngFor="let t of p.toppingId">
            {{menuService.getOne(t).name}}
          </span>
        </td>
      </tr>
      <tr>
        <td class="plate-label"><strong>Harga</strong></td>
        <td><strong>:</strong></td>
        <td class="order-value"><strong>{{p.price}}</strong></td>
      </tr>
    </table>
    <br />
  </div>
  <button *ngIf="orderService.current.status === 5"
    type="button" class="btn btn-success pull-right"
    (click)="onChangeStatus(9)">Selesai</button>
  <button *ngIf="orderService.current.status === 5"
    type="button" class="btn btn-danger pull-right"
    (click)="onChangeStatus(8)">Costumer Tidak Ditemukan</button>
  <button *ngIf="orderService.current.status === 4"
    type="button" class="btn btn-success pull-right"
    (click)="onChangeStatus(5)">Antar</button>
  <button *ngIf="orderService.current.status === 3"
    type="button" class="btn btn-success pull-right"
    (click)="onChangeStatus(4)">Tugaskan ke Driver</button>
  <button *ngIf="orderService.current.status === 1"
    type="button" class="btn btn-success pull-right"
    (click)="onChangeStatus(3)">Proses</button>
  <button *ngIf="orderService.current.status === 1"
    type="button" class="btn btn-danger pull-right"
    (click)="onChangeStatus(7)">Tolak</button>
  <button type="button" class="btn btn-default pull-right"
    (click)="onCloseDialog()">Kembali</button>
</app-dialog>
