<div class="card-box">
  <span class="group-title">Makanan Berat</span>
  <app-loading *ngIf="menuService.isLoading"></app-loading>
  <div *ngFor="let menu of getMenu(1)">
    <div class="menu-card ripple" (click)="onOrder(menu)">
      <img class="menu-image" [src]="menu.image" [alt]="menu.name"/>
      <div class="menu-desc">
        <strong>{{menu.name}}</strong>
      </div>
      <div class="menu-price">
        <strong>Rp. {{menu.price | number}}</strong>
      </div>
      <div class="menu-blur" *ngIf="!menu.ready">
        <span class="not-ready-label">[ HABIS ]</span>
      </div>
    </div>
  </div>
</div>

<div class="card-box">
  <span class="group-title">Topping</span>
  <app-loading *ngIf="menuService.isLoading"></app-loading>
  <div *ngFor="let menu of getMenu(2)">
    <div class="menu-card ripple" (click)="onOrder(menu)">
      <img class="menu-image" [src]="menu.image" [alt]="menu.name"/>
      <div class="menu-desc">
        <strong>{{menu.name}}</strong>
      </div>
      <div class="menu-price">
        <strong>Rp. {{menu.price | number}}</strong>
      </div>
      <div class="menu-blur" *ngIf="!menu.ready">
        <span class="not-ready-label">[ HABIS ]</span>\
      </div>
    </div>
  </div>
</div>

<div class="card-box">
  <span class="group-title">Lain-lain</span>
  <app-loading *ngIf="menuService.isLoading"></app-loading>
  <div *ngFor="let menu of getMenu(3)">
    <div class="menu-card ripple" (click)="onOrder(menu)">
      <img class="menu-image" [src]="menu.image" [alt]="menu.name"/>
      <div class="menu-desc">
        <strong>{{menu.name}}</strong>
      </div>
      <div class="menu-price">
        <strong>Rp. {{menu.price | number}}</strong>
      </div>
      <div class="menu-blur" *ngIf="!menu.ready">
        <span class="not-ready-label">[ HABIS ]</span>
      </div>
    </div>
  </div>
</div>

<app-user-plate *ngIf="isPlateShown"
  [onPlateOrder]="onPlateOrder"
  [onPlateCancel]="onPlateCancel"
  [(currentPlate)]="currentPlate">
</app-user-plate>
