<div class='order-card' *ngFor='let p of newOrder.list'
  (click)="onEditPlate(p)">
  <strong>Menu : </strong>{{getMenuDetail(p.menuId).name}}<br/>
  <strong>Sambal : </strong>{{p.sambal}}<br/>
  <strong>Level : </strong>{{p.chili}}<br/>
  <strong>Topping : </strong>
    <span class="topping" *ngFor="let t of p.toppingId">
      {{getMenuDetail(t).name}}
    </span>
  <br/>
  <strong>Harga : </strong>{{p.price}}<br/>
</div>
<div class="order-card">
  <div class="form-group">
    <label>Total Harga:</label>
    <span class="pull-right h4">Rp. {{getTotalPrice() | number}}</span>
  </div>
  <div class="form-group">
    <label>Nama Penerima:</label>
    <input type="text" class="form-control" [(ngModel)]="newOrder.recName">
  </div>
  <div class="form-group">
    <label>Lokasi Pengiriman:</label>
    <input type="text" class="form-control" [(ngModel)]="newOrder.recAddress">
  </div>
  <div class="form-group">
    <label>Nomor Telepon Penerima:</label>
    <input type="text" class="form-control" [(ngModel)]="newOrder.recPhone">
  </div>
  <button type="button" class="btn btn-success btn-lg btn-block"
      (click)="onSendOrder()">PESAN</button>
</div>

<app-user-plate *ngIf="isPlateShown()"
  [onPlateOrder]="onPlateOrder"
  [onPlateCancel]="onPlateCancel"
  [currentPlate]="currentPlate">
</app-user-plate>
