<div class="card-box" *ngFor="let p of newOrder.list">

  <div class="dropdown">
    <span class="glyphicon glyphicon-option-horizontal close" data-toggle="dropdown"></span>
    <ul class="dropdown-menu dropdown-menu-right">
      <li (click)="onEditPlate(p)" class="ripple"><a>Edit</a></li>
      <li (click)="onDeletePlateStart(p)" class="ripple"><a>Hapus</a></li>
    </ul>
  </div>

  <table>
    <tr>
      <td class="order-label"><strong>Menu</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{getMenuDetail(p.menuId).name}}</td>
    </tr>
    <tr *ngIf="p.sambal !== ''">
      <td class="order-label"><strong>Sambal</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{p.sambal}}</td>
    </tr>
    <tr *ngIf="p.sambal !== ''">
      <td class="order-label"><strong>Level</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">{{p.chili}}</td>
    </tr>
    <tr *ngIf="p.toppingId.length !== 0">
      <td class="order-label"><strong>Topping</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value">
        <span class="topping" *ngFor="let t of p.toppingId">
          {{getMenuDetail(t).name}}
        </span>
      </td>
    </tr>
    <tr>
      <td class="order-label"><strong>Harga</strong></td>
      <td><strong>:</strong></td>
      <td class="order-value"><strong>{{p.price}}</strong></td>
    </tr>
  </table>
</div>

<button type="button" class="btn btn-info btn-lg btn-block ripple btn-add-order"
  (click)="onAddOrder()">
  <span class="glyphicon glyphicon-plus"></span> TAMBAH PESANAN
</button>

<div class="card-box">
  <div class="form-group">
    <label>Total Harga:</label>
    <span class="pull-right h4">Rp. {{getTotalPrice() | number}}</span>
  </div>
  <div class="form-group">
    <label>Nama Penerima:</label>
    <input type="text" class="form-control" [(ngModel)]="newOrder.recName">
  </div>
  <div class="form-group">
    <label>Alamat Pengiriman:</label>
    <textarea rows="2" class="form-control" [(ngModel)]="newOrder.recAddress">
    </textarea>
  </div>
  <div class="form-group">
    <label>Patokan:</label>
    <textarea rows="2" class="form-control" [(ngModel)]="recBenchmark">
    </textarea>
  </div>
  <div class="form-group">
    <label>Nomor Telepon Penerima:</label>
    <input type="text" class="form-control" [(ngModel)]="newOrder.recPhone"
    placeholder="08xxxxxxxxxx">
  </div>
  <div class="form-group">
    <label>Lokasi Pengiriman:</label>
    <input type="text" class="form-control" [disabled]="true"
      value="{{newOrder.recLocation.lat + ', ' + newOrder.recLocation.lat}}">
  </div>
  <button type="button" class="btn btn-default btn-lg btn-block ripple"
    (click)="onToggleMap()"
    >{{isMapOpen? "TUTUP PETA" : "BUKA PETA"}}</button>
  <br/>
  <div class="form-group" *ngIf="isMapOpen">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="16"
      [fullscreenControl]="true"
      [disableDoubleClickZoom]="true"
      (mapDblClick)="onMapDblClick($event)">
      <agm-circle
        [latitude]="storeLocation.lat"
        [longitude]="storeLocation.lon"
        [clickable]="false"
        [fillOpacity]="0.1"
        [radius]="maxDist">
      </agm-circle>
      <agm-marker
        [latitude]="newOrder.recLocation.lat"
        [longitude]="newOrder.recLocation.lng"
        [markerDraggable]="true"
        (dragEnd)="onDragEnd($event)">
      </agm-marker>
    </agm-map>
    <i>*Double click atau geser marker untuk memilih lokasi</i>
  </div>
  <app-error-panel [active]="isError" [message]="errorMessage"></app-error-panel>
  <button type="button" class="btn btn-success btn-lg btn-block ripple"
    [disabled]="!isOrderValid()"
    (click)="onClickOrder()">
    PESAN <span class="glyphicon glyphicon-shopping-cart"></span>
  </button>
</div>

<app-user-plate *ngIf="isPlateShown()"
  mode="edit"
  [onPlateOrder]="onPlateOrder"
  [onPlateCancel]="onPlateCancel"
  [currentPlate]="currentPlate">
</app-user-plate>

<app-dialog *ngIf="isDeleteDialogShow" [(onCancel)]="onCloseDialog" title="Hapus Menu">
  <h5>Apakah anda yakin?</h5>
  <button type="button" class="btn btn-danger pull-right dialog-button"
    (click)="onDeletePlate()">Hapus</button>
  <button type="button" class="btn btn-default pull-right dialog-button"
    (click)="onCloseDialog()">Kembali</button>
</app-dialog>

<app-dialog *ngIf="isSubmitDialogShow" [(onCancel)]="onCloseDialog" title="Pesan Sekarang">
  <h5>Pastikan data yang anda isikan sudah benar</h5>
  <button type="button" class="btn btn-success pull-right dialog-button"
    [disabled]="isOrderButtonDisabled"
    (click)="onSendOrder()">Pesan</button>
  <button type="button" class="btn btn-default pull-right dialog-button"
    (click)="onCloseDialog()">Kembali</button>
</app-dialog>