<div class="card-box" *ngFor="let p of newOrder.list">

  <div class="dropdown">
    <span class="glyphicon glyphicon-option-horizontal close" data-toggle="dropdown"></span>
    <ul class="dropdown-menu dropdown-menu-right">
      <li (click)="onEditPlate(p)"><a>Edit</a></li>
      <li (click)="onDeletePlateStart(p)"><a>Hapus</a></li>
    </ul>
  </div>
  
  <strong>Menu : </strong>{{getMenuDetail(p.menuId).name}}<br/>
  <strong>Sambal : </strong>{{p.sambal}}<br/>
  <strong>Level : </strong>{{p.chili}}<br/>
  <strong>Topping : </strong>
    <span class="topping" *ngFor="let t of p.toppingId">
      {{getMenuDetail(t).name}}
    </span>
  <br/>
  <strong>Harga : </strong>{{p.price}}<br/>
</div>

<div class="card-box">
  <div class="form-group">
    <label>Total Harga:</label>
    <span class="pull-right h4">Rp. {{getTotalPrice() | number}}</span>
  </div>
  <div class="form-group">
    <label>Nama Penerima:</label>
    <input type="text" class="form-control" [(ngModel)]="newOrder.recName">
  </div>
  <div class="form-group">
    <label>Alamat Pengiriman:</label>
    <input type="text" class="form-control" [(ngModel)]="newOrder.recAddress">
  </div>
  <div class="form-group">
    <label>Nomor Telepon Penerima:</label>
    <input type="text" class="form-control" [(ngModel)]="newOrder.recPhone">
  </div>
  <div class="form-group">
    <label>Lokasi Pengiriman:</label>
    <input type="text" class="form-control" [disabled]="true"
      value="{{newOrder.recLocation.lat + ', ' + newOrder.recLocation.lat}}">
  </div>
  <button type="button" class="btn btn-default btn-lg btn-block ripple"
    (click)="onToggleMap()"
    >{{isMapOpen? "CLOSE MAP" : "OPEN MAP"}}</button>
  <br/>
  <div class="form-group" *ngIf="isMapOpen">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="16"
      [fullscreenControl]="true"
      [disableDoubleClickZoom]="true"
      (mapDblClick)="onMapDblClick($event)">
      <agm-marker
        [latitude]="newOrder.recLocation.lat"
        [longitude]="newOrder.recLocation.lng"
        [markerDraggable]="true"
        (dragEnd)="onDragEnd($event)">
        </agm-marker>
    </agm-map>
    <i>*Double click atau geser marker untuk memilih lokasi</i>
  </div>
  <app-error-panel [active]="isError" [message]="errorMessage"></app-error-panel>
  <button type="button" class="btn btn-success btn-lg btn-block ripple"
      (click)="onSendOrder()">PESAN</button>
</div>

<app-user-plate *ngIf="isPlateShown()"
  mode="edit"
  [onPlateOrder]="onPlateOrder"
  [onPlateCancel]="onPlateCancel"
  [currentPlate]="currentPlate">
</app-user-plate>

<app-dialog *ngIf="isDeleteDialogShow" [(onCancel)]="onCloseDialog" title="Hapus Menu">
  <h5>Apakah anda yakin?</h5>
  <button type="button" class="btn btn-danger pull-right" (click)="onDeletePlate()">Hapus</button>
  <button type="button" class="btn btn-default pull-right" (click)="onCloseDialog()">Kembali</button>
</app-dialog>
