.dropdown-menu>li>a {
    font-size: 18px !important;
}

.topping {
    padding: 5px 5px 2px 5px;
    margin: 2px 3px;
    border-radius : 5px;
    background-color: #eee;
    display: inline-block;
} 

agm-map {
    height: 300px;
}

button {
    margin-left: 5px;
}