.head {
    height: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.container-user {
    max-width: 500px;
}

.title {
    color: white;
    width: 100% ;
    min-width: 300px;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
}

.spacer-top {
    height: 50px;
}

.main {
    min-height: 100vh;
    padding: 0;
    position: relative;
}

.spacer-bottom {
    height: 50px;
}